@import "../../global.css";
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin:5px;
}
button{
    cursor:pointer;
}
.sidebar-item{
    margin: 5px;
}
/* .sidebar-item.active{
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
} */